@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
}

.review-section {
  border: 2px solid black;
  border-radius: 3px;
}

#add-review {
  padding-top: 50px;
}
